.name {
    font-size: 18px;
    line-height: 1.5;
    margin: 5px 0;
}

.priceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 20px;
    font-weight: 700;
}

.toCart {
    font-weight: 400;
    cursor: pointer;
}